<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap" rel="stylesheet">
    <title>Inicia sesión</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/formulario.css">
</head>
<body>
    <header>
        <div class="main-header-top-bar">
        
        
    <img class="logo" src="/images/logo-mercado-liebre.svg"  alt="logo"> 
    
    <div class="navbar">
        <input type="search" id="Buscar" placeholder="Buscar productos, marcas y más...">
          <i class="fas fa-search" ></i>
       
        </div>
    
    <div class="titular"> <i class="fas fa-hand-holding-usd"></i> ¡Comprá en cuotas y sin tarjeta de de crédito!</div>
    
    </div>
    
    <div class="nav">
        <br>
        <p><a href="#">Ofertas</a></p>
        <p><a href="#">Tiendas Oficiales</a></p>
        <p><a href="#">Vender</a></p>
        <p><a href="#">Ayuda</a></p>
        <br>
        <br>
        <br>
        <p><a href="/register">Creá tu cuenta</a><i class="fas fa-user-circle"></i> </p>
        <p><a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i> </p>
        <p><a href="#">Mis compras</a><i class="fas fa-shopping-bag"></i> </p>
        <br>
    </div>
    <div class="burger-menu">
        <i class="fas fa-bars" id="burguer" ></i>
        
    </div>
    </header>
    <main>
    <form action="/" method="get">

        <div class="forma">
        <label for="nombre">Nombre completo:</label>
        <br>
        <input type="text" name="nombre" id="nombre" placeholder="Nombre y apellido" required>
<br>
        <br>
    <br>
        <label for="usuario">Nombre de usuario:</label>
        <br>
         <input type="text" name="usuario" id="usuario" placeholder="Example: juan19" required>
<br>
         <br>
    <br>
         <label for="nacimiento">Fecha de nacimiento:</label>
         <br>
         <input type="date" name="nacimiento" id="nacimiento" required>
    <br>
         <br>
        <br>
       <label for="domicilio">Lugar de residencia:</label>
       <br> 
       <input type="text" name="domicilio" id="domicilio" placeholder="Example: AV Siempre Viva 19" required>
<br>
         <br>
    <br>    
         <label>¿Desea Comprar o Vender?</label>
        <br>
<input type="radio" name="venderOcomprar" value="Comprar"> Comprar
<input type="radio" name="venderOcomprar" value="Vender"> Vender
<br>
        <br>
<br>
<label for="categorias">Categorias de interes (Seleccione uno o varios)</label>
<br><br>
        <label for="categorias">
            <input type="checkbox" name="categorias" id="categorias">
            Electro
        </label>
        <label for="categorias">
            <input type="checkbox" name="categorias" id="categorias">
            Moda
        </label>
        <label for="categorias">
            <input type="checkbox" name="categorias" id="categorias">
            Hogar
        </label>
        <label for="categorias">
            <input type="checkbox" name="categorias" id="categorias">
            Jugueteria
        </label>
        <label for="categorias">
            <input type="checkbox" name="categorias" id="categorias">
            Vida sana
        </label>
<br>
        <br>
    <br>
        <label for="foto">Agrega una foto de usuario (Opcional):</label>
        <br> 
        <input type="file" name="foto" accept=".jpg" multiple id="foto">
    <br>
         <br>
<br>
<label for="contraseña">Crea una contraseña</label>
<br>         
<input type="password" name="contraseña" id="contraseña" required>
        <br>
         <br>
    <br>
         <label for="confirmar">Confirma la contraseña</label>
        <br>
         <input type="password" name="confirmar" id="confirmar" required>
    <br>
         <br>
    <br>
    
<button type="submit">Enviar</button>
<button type="reset">Borrar</button>
</div>    
</form>
</main>
<br><br><br>
    <footer>
        <br>
        <br>
        <br>
        <div class="footsize">
        <div class="imgfoot"><i class="fas fa-credit-card"></i></div>
        <br>
        <b>Pagá con tarjeta o en efectivo</b>
        <br>
        <p>Con Mercado Liebre Cash, tenés cuotas sin </p>
            <p> interés con tarjeta o efectivo en
            puntos de </p>
             <p> pago. ¡Y siempre es seguro!</p>
            </div>
        <br>
        <div class="footsize">
        <div class="imgfoot"><i class="fas fa-gift"></i></div>
        <br>
        <b>Envío gratis desde $ 2.500</b>
        <br>
        <p>Solo por estar registrad@ en Mercado Liebre</p>
            <p>tenés envíos gratis en miles de
            productos. Es </p>
            <p>un beneficio de Mercado Puntos.</p>
        </div>
         <br>
         <div class="footsize" >
         <div class="imgfoot"><i class="fas fa-user-shield"></i></div>
<br>
         <b>Seguridad, de principio a fin</b>
         <br>
         <p>¿No te gustó? ¡Devuelvelo! En Mercado Liebre </p>
             <p>no hay nada de que preocuparte, porque estás </p>
                 <p> siempre protegid@</p>
                </div>
 <br>
 <br>
 <br>
                 <b><b>Copyright © 1999-2020 MercadoLiebre S.R.L</b></b>
        
                 <br>
                 <br>
    </footer>
</body>
</html>